<header class="header">
    <div class="header__content">
        <a href="{{ routes.root_url }}" class="header__logo">{{ shop.name }}</a>

        <nav class="header__nav">
            {% for link in linklists.main-menu.links %}
                <a href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
        </nav>
        
    </div>
</header>
